---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Bowscoin.info!</h1>
<p style="text-align: left;">Bowscoin was launched in 2015 as a proof of work currency. It was described by the developers as:</p>

<blockquote class="wp-block-quote"><strong>The digital currency for Gift! Give gifts – now! Pay instantly without borders with BSC.</strong></blockquote>
<h2 style="text-align: left;">Bowscoin status</h2>
<p style="text-align: left;">The currency is currently ABANDONED. This means that no further development will take place. This website is maintained for information only by our sponsors <a href="https://bitz.guru">Bitz Guru - top for New Bitcoin Casinos</a>.</p>
<p style="text-align: left;">The current status of the Bowscoin cryptocurrency is that:</p>

<ul>
 	<li style="text-align: left;">The domain name was not renewed by the developer</li>
 	<li style="text-align: left;">Blockchain explorer is now broken</li>
 	<li style="text-align: left;">There has been no Github activity in the past year</li>
 	<li style="text-align: left;">There are no longer any updates in the <a href="https://bitcointalk.org/index.php?topic=1039949.0">Bowscoin BitcoinTalk thread</a></li>
</ul>
		</main>
		<Footer />
	</body>
</html>
